* {
  box-sizing: border-box;
}

body {
  background-color: #2f59ef;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

h2, legend {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0;
}

p,
li,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: 2px solid white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 0.8rem;
  padding: 1rem;
}

img {
  width: 22vw;
  height: auto;
}

header {
  width: 100vw;
  height: 4.5rem;
  background-color: #2f59ef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  margin-left: 25px;
}

.nav-links li {
  margin-right: 25px;
}

.nav-active {
  border-bottom: 2px solid white;
}

.container {
  width: 66vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 6rem 0 9rem 11vw;
}

.about-box {
  margin: 1rem 0;
}

.project-box {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.project-image-box {
  width: 22vw;
  border: none;
  margin: 0;
  padding: 0;
}

.project-text-box {
  width: 44vw;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.project-links-box {
  display: flex;
  flex-direction: row;
}

.stack-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stack-category {
  min-width: 11vw;
  max-width: 11vw;
  margin: 25px 25px 25px 0;
}

@media only screen and (max-width: 750px) {
  h2,
  p,
  li,
  a {
    font-size: 1rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  header {
    width: 100vw;
    height: 6rem;
    background-color: #2f59ef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  header h1 {
    margin: 0;
  }

  .nav-links li {
    margin-right: 2rem;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 7.5rem 0;
    padding: 1rem;
  }

  .project-box {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
  }

  .project-image-box {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }

  .project-text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .stack-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .stack-category {
    min-width: 100%;
    max-width: 100%;
    margin: 25px 0 0 0;
  }
}
