<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    {{template "nav" .}}
    <section class="container">
      <h1>About Me</h1>

      <article class="about-box">
        <h2>I'm a full-stack Javascript Developer</h2>
        <p>
          fundamentals, libraries, projects, client facing experience, project/code management, service design.
        </p>
      </article>

      <article class="about-box">
        <h2>I learned at Founders and Coders</h2>
        <p>
          I was part of FAC's Winter 2019 cohort (FAC18). As well as being a
          supportive environment and network to learn web development, FAC
          promoted the value of open-source, tech for good and agile
          development.
        </p>
      </article>

      <article class="about-box">
        <h2>I've spent the pandemic working on 'tech for good' projects.</h2>
        <p>
          Spurred on by enthusiasm for FAC's 'Tech for Better' programme, on
          graduation I teamed up with fellow FAC18 cohort member Bethany Scott
          to work on further Tech for Better projects as part fo a Founders and
          Coders team. This saw us work with a number of non-profit
          organisations and charities on projects ranging from web development
          to digital service design and product management learning programmes.
          These were often in partnership with CAST and the Catalyst network.
        </p>
      </article>

      <article class="about-box">
        <h2>I've been learning Go in my spare time</h2>
        <p>
          I've wanted to add a new language beyond Javascript to my skillset for
          a while. I chose Go for a number of reasons, and have enjoyed getting
          to grips with new syntax and tooling. This site is my first major Go
          project (you can see the repo
          <a
            href="https://github.com/jc2820/protfolio-2021"
            target="_blank"
            rel="noopener noreferrer"
            >here</a
          >). It uses Go's http and template packages from the standard library.
        </p>
      </article>

      <article class="about-box">
        <h2>I'm looking for a full-time dev role</h2>
        <p>
          I want to improve my understanding of proper dev team and staging
          dynamics that are not as easy to come by as a freelancer on small
          contracts. I'm looking for experience of working with with a larger
          production codebase in a mentoring environment...
        </p>
      </article>

      <article class="about-box">
        <h2>I previously worked in visual art</h2>
        <p>
          Before joining FAC I worked in various gallery and creative roles in
          visual art for over ten years. I have a degree in Environemntal art
          from Glasgow School of Art, and my last arts role was as Exhibitions
          Manager for a non-profit gallery specialising in Japanese contemporary
          art.
        </p>
      </article>
    </section>
  </body>
</html>
