<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    {{template "header" .}}
    <section class="container">
      <h1>About Me</h1>
      <p class="about-paragraph">
        I am a rock hard trooper to the bone, the bone, the bone. Full grown,
        consider me - stone. Once again and I say it for you to know. The troop
        is always ready, I yell "Geronimo!" Your CIA, you see I ain't kiddin'.
        Both King and X, they got rid of both. A story untold, true but unknown.
        Professor Griff knows, "Yo, I ain't milquetoast!"
      </p>
      <p class="about-paragraph">
        I am a rock hard trooper to the bone, the bone, the bone. Full grown,
        consider me - stone. Once again and I say it for you to know. The troop
        is always ready, I yell "Geronimo!" Your CIA, you see I ain't kiddin'.
        Both King and X, they got rid of both. A story untold, true but unknown.
        Professor Griff knows, "Yo, I ain't milquetoast!"
      </p>
    </section>
  </body>
</html>
