<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    {{template "nav" .}}
    <section class="container">
      <h1>About Me</h1>
      <div class="about-box">
        <p><span class="emoji">&#127828;</span> Full stack Javascript Dev</p>
        <p>
          <span class="emoji"> &#128567;</span> 2020/21: Tech for Good (<a
            href="https://www.siennadev.com/"
            rel="noopener noreferrer"
            target="_blank"
            >Sienna</a
          >/<a
            href="https://www.wearecast.org.uk/"
            rel="noopener noreferrer"
            target="_blank"
            >CAST</a
          >/<a
            href="https://www.thecatalyst.org.uk/"
            rel="noopener noreferrer"
            target="_blank"
            >Catalyst</a
          >
          projects)
        </p>
        <p>
          <span class="emoji"> &#127891;</span> Winter 2019:
          <a
            href="https://foundersandcoders.com"
            rel="noopener noreferrer"
            target="_blank"
            >Founders and Coders</a
          >
          (FAC18)
        </p>
        <p>
          <span class="emoji"> &#127912;</span> Previously in visual art -
          Exhibitions Manager @
          <a
            href="https://white-rainbow.art"
            rel="noopener noreferrer"
            target="_blank"
            >White Rainbow</a
          >
        </p>
        <p>
          <span class="emoji"> &#128678;</span> Learning
          <a
            href="https://github.com/jc2820/portfolio-2021"
            rel="noopener noreferrer"
            target="_blank"
            >Go</a
          >
        </p>
        <br />
        <p>
          <span class="emoji"> &#128269;</span> Currently looking for full-time
          company dev roles - Full stack or frontend.
        </p>
        <br />
        <p>
          <a
            href="https://github.com/jc2820"
            rel="noopener noreferrer"
            target="_blank"
            >github</a
          >
          // CV // jc2820@hotmail.com
        </p>
      </div>
    </section>
  </body>
</html>
